@import "tailwindcss";

@layer utilities {
  .btn {
    @apply h-14 w-50 cursor-pointer rounded-xl text-(--font-size-18);
  }
  .btn-primary {
    @apply bg-(--color-brand-secondary) text-(--color-white) hover:bg-(--color-brand-primary) active:bg-(--color-brand-dark);
  }
  .btn-secondary {
    @apply bg-(--color-white) text-(--color-brand-dark) hover:bg-(--color-brand-light) active:bg-(--color-slate-200);
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  input {
    @apply text-brand-dark w-full rounded-md border border-neutral-400 bg-white px-3 py-5 placeholder:text-neutral-500 focus:ring-2 focus:outline-none;
    &::placeholder {
      font-family: var(--font-family-secession);
      font-weight: var(--font-weight-light);
      font-size: var(--font-size-16);
      line-height: 1.3;
    }
  }
  body {
    @apply font-family-secession;
  }
}

img {
  pointer-events: none;
}

a {
  -webkit-user-drag: none;
}

body {
  color: var(--color-brand-dark);
  background: var(--color-white);
}

.before-icon {
  position: relative;
  padding-left: 40px;
}

.before-icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.before-icon-coffee::before {
  background-image: url(../public/icons/coffee.svg);
}

.before-icon-star::before {
  background-image: url(../public/icons/star.svg);
}

.before-icon-delivery::before {
  background-image: url(../public/icons/delivery.svg);
}

@keyframes reverse-spin {
  from {
    transform: rotate(360deg);
  }
}

@theme {
  --animate-spin-slow: spin 60s linear infinite;
  --animate-reverse-spin: reverse-spin 60s linear infinite;

  /* ------ BRAND ------ */
  --color-brand-light: #6fbfe1;
  --color-brand-secondary: #009cde;
  --color-brand-primary: #007cc5;
  --color-brand-dark: #0d1e46;

  --font-family-secession: "Secession", Arial, sans-serif;

  /* ---------- WEIGHT ---------- */
  --font-weight-bold: 700;
  --font-weight-demi: 600;
  --font-weight-normal: 400;
  --font-weight-light: 300;

  /* ---------- SIZE ---------- */
  --font-size-55: 3.4375rem;
  --font-size-40: 2.5rem;
  --font-size-26: 1.625rem;
  --font-size-22: 1.375rem;
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
  --font-size-15: 0.9375rem;
}
/* 
@layer utilities {

  .font-lighter text-sm {
    font-weight: lighter;
    font-size: var(--font-size-15);
    line-height: 1.3;
  }

  .font-light text-base {
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-16);
    line-height: 1.3;
  }
} */
