@import "tailwindcss";

@utility drag-none {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility container-accent {
  width: 100%;
  @media (width >= 40rem) {
    max-width: calc(40rem + 2 * var(--space-inside-x));
  }
  @media (width >= 48rem) {
    max-width: calc(48rem + 2 * var(--space-inside-x));
  }
  @media (width >= 64rem) {
    max-width: calc(64rem + 2 * var(--space-inside-x));
  }
  @media (width >= 80rem) {
    max-width: calc(80rem + 2 * var(--space-inside-x));
  }
  @media (width >= 96rem) {
    max-width: calc(96rem + 2 * var(--space-inside-x));
  }
}

@keyframes reverse-spin {
  from {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .btn {
    @apply h-15 w-full cursor-pointer rounded-xl text-(--font-size-18) md:w-75;
  }
  .btn-primary {
    @apply bg-(--color-brand-secondary) text-(--color-white) hover:bg-(--color-brand-primary) active:bg-(--color-brand-dark);
  }
  .btn-secondary {
    @apply bg-(--color-white) text-(--color-brand-dark) hover:bg-(--color-brand-light) active:bg-(--color-slate-200);
  }

  input {
    @apply text-brand-dark w-full rounded-md border-neutral-400 bg-white px-3 py-5 text-base font-light placeholder:text-neutral-500 focus:ring-2 focus:outline-none;
  }

  img {
    @apply pointer-events-none;
  }

  a {
    @apply drag-none;
  }

  h1 {
    @apply mb-20 max-w-4xl text-4xl/tight font-bold md:text-5xl/tight lg:text-6xl/tight;
  }

  h2 {
    @apply mb-14 text-3xl font-bold md:text-4xl lg:text-5xl;
  }
}

@theme {
  /* ------ COLORS ------ */
  --color-brand-light: #6fbfe1;
  --color-brand-secondary: #009cde;
  --color-brand-primary: #007cc5;
  --color-brand-dark: #0d1e46;

  /* ------ FONT ------ */
  --font-family-secession: "Secession", Arial, sans-serif;

  /* ------ ANIMATION ------ */
  --animate-spin-slow: spin 60s linear infinite;
  --animate-reverse-spin: reverse-spin 60s linear infinite;

  /* ------ SPACES ------ */
  --space-between-sections: calc(var(--spacing) * 12);
  --space-edge-screen: calc(var(--spacing) * 16);
  --space-outside-container: var(--space-between-sections)
    var(--space-edge-screen);

  --space-outside-container-accent: var(--space-between-sections)
    calc(var(--space-edge-screen) / 2);

  --space-inside-x: calc(var(--space-edge-screen) / 2);
  --space-inside-y: calc(var(--spacing) * 20);
  --space-intside-container: var(--space-inside-y) var(--space-inside-x);
}
