@import "tailwindcss";

@utility drag-none {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes reverse-spin {
  from {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .btn {
    @apply h-15 w-75 cursor-pointer rounded-xl text-(--font-size-18);
  }
  .btn-primary {
    @apply bg-(--color-brand-secondary) text-(--color-white) hover:bg-(--color-brand-primary) active:bg-(--color-brand-dark);
  }
  .btn-secondary {
    @apply bg-(--color-white) text-(--color-brand-dark) hover:bg-(--color-brand-light) active:bg-(--color-slate-200);
  }

  input {
    @apply text-brand-dark w-full rounded-md border border-neutral-400 bg-white px-3 py-5 text-base font-light placeholder:text-neutral-500 focus:ring-2 focus:outline-none;
  }

  img {
    @apply pointer-events-none;
  }

  a {
    @apply drag-none;
  }

  h2 {
    @apply mb-14 text-5xl font-bold;
  }
}

@theme {
  /* ------ COLORS ------ */
  --color-brand-light: #6fbfe1;
  --color-brand-secondary: #009cde;
  --color-brand-primary: #007cc5;
  --color-brand-dark: #0d1e46;

  /* ------ FONT ------ */
  --font-family-secession: "Secession", Arial, sans-serif;

  /* ------ ANIMATION ------ */
  --animate-spin-slow: spin 60s linear infinite;
  --animate-reverse-spin: reverse-spin 60s linear infinite;

  /* ------ SPACES ------ */
  --space-between-sections: calc(var(--spacing) * 12);
  --space-edge-screen: calc(var(--spacing) * 15);
  --space-container: var(--space-between-sections) var(--space-edge-screen);
}
