@import "tailwindcss";

@utility drag-none {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes reverse-spin {
  from {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .btn {
    @apply h-14 w-50 cursor-pointer rounded-xl text-(--font-size-18);
  }
  .btn-primary {
    @apply bg-(--color-brand-secondary) text-(--color-white) hover:bg-(--color-brand-primary) active:bg-(--color-brand-dark);
  }
  .btn-secondary {
    @apply bg-(--color-white) text-(--color-brand-dark) hover:bg-(--color-brand-light) active:bg-(--color-slate-200);
  }

  input {
    @apply text-brand-dark w-full rounded-md border border-neutral-400 bg-white px-3 py-5 placeholder:text-neutral-500 focus:ring-2 focus:outline-none;
    &::placeholder {
      font-family: var(--font-family-secession);
      font-weight: var(--font-weight-light);
      font-size: var(--font-size-16);
      line-height: 1.3;
    }
  }
  body {
    @apply font-family-secession text-brand-dark bg-white;
  }

  img {
    @apply pointer-events-none;
  }

  a {
    @apply drag-none;
  }
}

@theme {
  /* ------ COLORS ------ */
  --color-brand-light: #6fbfe1;
  --color-brand-secondary: #009cde;
  --color-brand-primary: #007cc5;
  --color-brand-dark: #0d1e46;

  /* ------ FONT ------ */
  --font-family-secession: "Secession", Arial, sans-serif;

  /* ------ ANIMATION ------ */
  --animate-spin-slow: spin 60s linear infinite;
  --animate-reverse-spin: reverse-spin 60s linear infinite;
}
