@import "tailwindcss";
@import "./theme/colors.css";
@import "./theme/fonts.css";

@layer utilities {
  .btn {
    @apply h-14 w-50 cursor-pointer rounded-xl text-(--font-size-18);
  }

  .btn-primary {
    @apply bg-(--color-brand-100) text-(--color-white) hover:bg-(--color-brand-200) active:bg-(--color-brand-300);
  }

  .btn-secondary {
    @apply bg-(--color-white) text-(--color-brand-300) hover:bg-(--color-brand-50) active:bg-(--color-white-50);
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes reverse-rotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

img {
  pointer-events: none;
}

a {
  -webkit-user-drag: none;
}

body {
  color: var(--color-brand-300);
  background: var(--color-white);
  font-family: var(--font-secession), Arial, sans-serif;
}

.before-icon {
  position: relative;
  padding-left: 40px;
}

.before-icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.before-icon-coffee::before {
  background-image: url(../public/icons/coffee.svg);
}

.before-icon-star::before {
  background-image: url(../public/icons/star.svg);
}

.before-icon-delivery::before {
  background-image: url(../public/icons/delivery.svg);
}

.after-image {
  position: relative;
  overflow: hidden;
}

.after-image::before {
  content: "";
  position: absolute;
  top: 32%;
  left: 78%;
  width: 824px;
  height: 824px;
  background: url(../public/icons/deer_antlers_824.svg);

  animation-name: reverse-rotation;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  z-index: 1;
}

.after-image::after {
  content: "";
  position: absolute;
  top: 15%;
  left: 70%;
  width: 1024px;
  height: 1024px;
  background: url(../public/icons/deer_antlers_1024.svg);

  animation-name: rotation;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  z-index: 1;
}
